<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="css/home.css">
    </head>
    <body >
        <header>
<div class="main">
    <div class="logo">
        <img src="../logo.png">
    </div>
    <ul>

        <li class="active"><a href="/">HOME</a></li>
        <li><a href="/bookshow">Books</a></li>
        <li><a href="/regpage">Registrations</a></li>
        <li><a href="/admin">Members</a></li>
        <li><a href="/temp">pending Registrations</a></li>
    </ul>
</div>


          <div class="title">
              <h1>ONLINE BOOK   </h1>
          </div>
          <div class="button">
              <a href="/regpage" class="btn">Registrations</a>
              <a href="#" class="btn">Donate US</a>
          </div>
        </header>
    </body>
</html>