<html>
<head>


          
          
          
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />  
        <link rel="stylesheet" href="style.css" /> 
</head>    

<body >

    <div class="row">

        <div class="container">
        <form action="/"> <button class="btn btn-success nBtn"  > home </button></form>
    
       <!--<button type="button" class="btn btn-success"><a href="/bookshow"> BOOK</button>   -->  
      <!--<button > <a href="/bookshow">Enjoy Your Books</a></button>  -->  
       

                <div class="col-sm-10 col-md-10">
                   <div class="panel panel-info">

                        <div class="panel-heading">
                                <div class="panel-tittle"><strong><i class="" aria-hidden="true"></i>REGISTRATION</strong></div>
                         </div>
                <div class=" panel-body">
                <form class="form-horizontal" id="RegForm"  name="RegForm" action="add" role="form" method="post" onsubmit="return GEEKFORGEEKS()">
                    <div class="form-group">
                         <label class="control-label col-sm-2"> Name:</label>
                         <div class="col-sm-9">
                             <input type="text" placeholder="John" name="fname" class="form-control" id="" >
                         </div>
                       </div> <br><br><br>

                       <div class="form-group">
                            <label class="control-label col-sm-2">  NIC/passport:</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="NIC/passport" name="NIC" class="form-control" id="" >
                            </div>
                          </div> <br><br><br>
                          


                          <div class="form-group">
                            <label class="control-label col-sm-2"> Date of Birth:</label>
                            <div class="col-sm-9">
                                <input type="date" placeholder="Date of Birth" name="DOB" class="form-control" id="" >
                            </div>
                          </div> <br><br><br>

                          
                          <div class="form-group">
                            <label class="control-label col-sm-2"> Profession:</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Profession" name="pro" class="form-control" id="" >
                            </div>
                          </div> <br><br><br>

                          <div class="form-group">
                                      
                            <label class="control-label col-sm-2"> Adress:</label>
                            <div class="col-sm-9">
                                <textarea rows="2" cols="20" placeholder="542 W. 15th Street" name="address" class="form-control" id="" required>  </textarea>
                            </div>
                          </div> <br><br><br><br>


                          <div class="form-group">
                            <label class="control-label col-sm-2"> Nationality:</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Nationality" name="nat" class="form-control" id="" >
                            </div>
                          </div> <br><br><br>

                          <div class="form-group">
                            <label class="control-label col-sm-2"> Gender:</label>
                            <div class="col-sm-9">
                                <input type="radio" name="gender" value="male" checked> Male<br>
                                <input type="radio" name="gender" value="female"> Female<br>
                                <input type="radio" name="gender" value="other"> Other
                            </div>
                          </div> <br><br><br>


                        <div class="form-group ">
                            <label class="control-label col-sm-2"> Email:</label>
                            <div class="col-sm-9">
                                <input type="email" placeholder="john@example.com" name="email" class="form-control" id="" >
                            </div>
                            </div> <br><br><br>

                            <div class="form-group">
                            <label class="control-label col-sm-2"> Password:</label>
                            <div class="col-sm-9">
                                <input type="Password" placeholder="Password" name="#" class="form-control" id="" >
                            </div>
                            </div> <br><br><br>

                        
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Confirm Password:</label>
                                <div class="col-sm-9">
                                    <input type="Password" placeholder="Confirm Password" name="pass" class="form-control" id="confirm_password" >
                                </div>
                            </div> <br><br><br>

                            
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                <div class="col-sm-6 col-md-8"></div>
            
                                    <div class="col-sm-3 col-md-2">
                                    <button class="btn btn-dark btn-block submit_button button_shades"  ><i class="fa fa-paper-plane create_button_icon" aria-hidden="true"></i> Submit </button>
                                    </div>
                                <div class="col-sm-3 col-md-2"> <a  onclick="myFunction()" value="Reset form" class="btn btn-danger btn-block clean_button button_shades" > <i class="fa fa-times create_button_icon"    aria-hidden="true"></i> Clean </a> </div>
                        </div>

                  
                       </div>
                 </div>
                </form>
            </div>
      
        </div>
    </div>
   

<script> 

var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

        function GEEKFORGEEKS()                                    
        { 

            var fname = document.forms["RegForm"]["fname"];   
            var lname = document.forms["RegForm"]["lname"];              
            var email = document.forms["RegForm"]["email"];    
            var phone = document.forms["RegForm"]["phone"];  
            var address = document.forms["RegForm"]["address"];  
           
            if (fname.value == "")                                  
            { 
                window.alert("Please enter your Firstname."); 
                name.focus(); 
                return false; 
            } 
           
            if (lname.value == "")                                  
            { 
                window.alert("Please enter your Lastname."); 
                name.focus(); 
                return false; 
            } 
           
            if (address.value == "")                               
            { 
                window.alert("Please enter your address."); 
                name.focus(); 
                return false; 
            } 
               
            if (email.value == "")                                   
            { 
                window.alert("Please enter a valid e-mail address."); 
                email.focus(); 
                return false; 
            } 
           
            if (email.value.indexOf("@", 0) < 0)                 
            { 
                window.alert("Please enter a valid e-mail address."); 
                email.focus(); 
                return false; 
            } 
           
            if (email.value.indexOf(".", 0) < 0)                 
            { 
                window.alert("Please enter a valid e-mail address."); 
                email.focus(); 
                return false; 
            } 
           
            if (phone.value == "")                           
            { 
                window.alert("Please enter your phone number."); 
                phone.focus(); 
                return false; 
            } 
           
        
            if (what.selectedIndex < 1)                  
            { 
                alert("Please enter your course."); 
                what.focus(); 
                return false; 
            } 
           
            return true; 
        }
        
        function myFunction() {      
               document.getElementById("RegForm").reset();
             }
        </script> 
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
